<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="email.storage.osama.storageapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_note_add_white_24dp"
        android:label="@string/home"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add" />
        <activity android:name=".Show" />

        <provider
            android:name=".tools.StorageProvider"
            android:authorities="email.storage.osama.storageapp"
            android:exported="false" />

        <activity android:name=".Test" />
        <activity android:name=".Test2"></activity>
    </application>

</manifest>